.banner {
    position:fixed;
    z-index:3;
    width:100%;
    box-sizing:border-box;
    top:-$height-header;
    left:0;
    padding:12px 15px;
    color:$color-light;
    line-height:16px;
    background:rgba($color-dark, 0.9);
    transition:top 0.25s;

    @media (min-width:$bp-tablet) {
        top:-$height-header-big;
    }

    body.is-offline & {
        top:$height-header;

        @media (min-width:$bp-tablet) {
            top:$height-header-big;
        }
    }

    &__text {

        &:before {
            display:inline-block;
            font-family:'FontAwesome';
            content:'\f071';
            margin-right:5px;
        }
    }
}
