.menu {
    position:fixed;
    top:$height-header - 5px;
    right:5px;
    width:200px;
    height:auto;
    max-height:300px;
    overflow:auto;
    background:$color-white;
    list-style:none;
    margin:0;
    padding:20px;
    box-shadow:0 0 3px $color-black;
    border-radius:2px;
    opacity:0;
    z-index:-1;
    transition:opacity linear 0.1s;
    text-align:left;

    @media (min-width:$bp-tablet) {
        top:$height-header-big + 5px;
    }

    &__item {
        display:block;
        margin-bottom:20px;
        font-family:$font-text;
        color:$color-black;
        font-size:12px;
        line-height:1;
        cursor:pointer;

        &:last-child {
            margin-bottom:0;
        }

        &:hover {
            color:$color-dark;
        }
    }

    body.is-menuopening & {
        opacity:1;
        z-index:11;
    }
}
