.search {
    position:absolute;
    z-index:3;
    width:100%;
    height:0;
    box-sizing:border-box;
    overflow:hidden;
    top:$height-header;
    left:0;
    background:linear-gradient(to right, $color-red, lighten($color-red, 15%));
    transition:height 0.25s;

    @media (min-width:$bp-tablet) {
        top:$height-header-big;
    }

    &__wrapper {
        padding:10px 15px;
    }

    &__input {
        display:block;
        width:100%;
        box-sizing:border-box;
        border:1px solid $color-lighter;
        padding:5px;
        font-weight:300;
        font-style:italic;
        text-align:left;
        font-size:16px;
        color:$color-dark;
    }

    body.is-searching & {
        height:$height-header;

        @media (min-width:$bp-tablet) {
            height:$height-header-big;
        }
    }
}
