<section class="container__grid">
    <article class="container__row"
        ng-if="article">
        <div class="capsule">
            <div class="capsule__text">
                <div ng-if="article.type != 'page'">
                    <span class="author">Par {{article.author.name}}</span>
                    <span class="tag">{{article.terms.category[0].name}}</span>
                    <span class="date">{{article.date | date:'mediumDate'}}</span>
                </div>
                <h1 class="heading heading--1"
                    ng-if="article.title"
                    ng-bind-html="article.title"></h1>
            </div>
            <div class="capsule__image"
                 ng-if="article.type != 'page' && article.format != 'audio' && article.format != 'video'"
                 ng-style="(article.featured_image.source) ? {'background-image':'url('+ (article.featured_image.attachment_meta.sizes.medium.url | secureUrl) +')'} : {}">
            </div>
        </div>
        <div class="paragraph"
             ng-bind-html="article.content | parseContent"></div>
        <div class="article__share" ng-controller="ShareCtrl"
             ng-if="article.type != 'page'">
            <a href class="share share--half share--facebook" onclick="ga('send', 'event', 'share', 'click', 'header buttons')"
               ng-click="share('facebook')">
                Partager sur Facebook
            </a>
            <a href class="share share--half share--twitter" onclick="ga('send', 'event', 'share', 'click', 'header buttons')"
               ng-click="share('twitter')">
                Partager sur Twitter
            </a>
        </div>
    </article>
</section>
