<article class="article"
         ng-if="articles.length"
         ng-repeat="(index, article) in articles | orderBy:order">
    <div class="article__colDate">
        <div class="article__colDateWrapper">
            <span class="date date--formated">{{dateToTimestamp(article.date) | date:'mediumDate'}}</span>
        </div>
    </div>
    <div class="article__colContent">
        <div class="article__colContentWrapper"
            ng-click="go('/' + article.slug)">
            <span class="date">{{dateToTimestamp(article.date) | date:'mediumDate'}}</span>
            <div class="capsule">
                <div class="capsule__image"
                     ng-style="(article.featured_image.source) ? {'background-image':'url('+ (article.featured_image.attachment_meta.sizes.small.url | secureUrl) +')'} : {}"></div>
                <div class="capsule__text">
                    <h2 class="heading heading--2"
                        ng-if="article.title"
                        ng-bind-html="article.title"></h2>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="error"
     ng-if="slug == 'search' && !isSwitchingView && !articles.length"
     ng-include="config.incPath + 'noresult.html'"></div>
<div class="infiniteLoader"
     ng-if="loadingNext"></div>
