.date {
    display:inline-block;
    font-size:14px;
    font-family:$font-text;
    color:$color-white;

    &--formated {
        word-spacing:30px;
        text-transform:capitalize;

        &:first-line {
            font-size:1.4em;
        }
    }

    @media (min-width:$bp-tablet) {
        font-size:20px;
    }
}
