<header class="header is-reduced">
    <div class="header__left">
        <a href class="header__icon header__icon--burger"
           ng-class="{'header__icon--back': templatePage == 'single'}"
           ng-click="toggleNav()"></a>
    </div>

    <a href="/" class="header__logo"
       ng-click="clickLogo($event)"></a>

    <div class="header__right">
        <a href class="header__icon header__icon--glass"
           ng-click="toggleSearch()"></a>
        <a href class="header__icon header__icon--settings"
           ng-click="toggleMenu()">
        </a>
    </div>

    <form class="search" autocomplete="off"
          ng-submit="search()">
        <div class="search__wrapper">
            <input type="input" ng-model="searchQuery" class="search__input" placeholder="Enter what you lookin for yo!" id="searchInput" />
        </div>
    </form>

    <ul class="menu">
        <li class="menu__item"
            ng-if="Modernizr.touchevents"
            ng-click="openToaster()">Partager la page</li>
        <li class="menu__item"
            ng-if="Modernizr.notification"
            ng-click="go('/page/settings')">Paramètres</li>
    </ul>
</header>
