<header class="header is-reduced">
    <a href class="header__icon header__icon--burger"
       ng-class="{'header__icon--back': templatePage == 'single'}"
       ng-click="toggleNav()"></a>
    <a href="/" class="header__logo"
       ng-click="clickLogo($event)"></a>
    <a href class="header__icon header__icon--glass"
       ng-click="toggleSearch()"></a>
    <a href class="header__icon header__icon--settings"
       ng-click="toggleMenu()">
    </a>

    <form class="search" autocomplete="off"
          ng-submit="search()">
        <input type="input" ng-model="searchQuery" class="search__input" placeholder="Enter what you lookin for yo!" id="searchInput" />
    </form>

    <ul class="menu">
        <li class="menu__item"
            ng-click="copyLocation()">Copier l'adresse de la page</li>
        <li class="menu__item"
            ng-click="go('/page/settings')">Paramètres</li>
    </ul>
</header>
