<div class="toaster"
     ng-controller="ShareCtrl">
    <a class="toaster__close fa fa-times-rectangle-o"
        ng-click="closeToaster()"></a>
    <a class="toaster__item"
       ng-href="sms:?&body={{pageTitle}}+{{href}}"><span class="fa fa-comment"></span></a>
    <a class="toaster__item"
       ng-href="mailto:?body={{pageTitle}}+{{href}}"><span class="fa fa-envelope"></span></a>
    <a class="toaster__item"
       ng-click="share('facebook')"><span class="fa fa-facebook-square"></span></a>
    <a class="toaster__item"
        ng-href="twitter://post?message={{pageTitle}}+{{href}}"><span class="fa fa-twitter-square"></span></a>
</div>
