.article {
    max-width:100%;
    box-sizing:border-box;
    position:relative;

    &__colDate {
        position:relative;
        float:left;
        text-align:center;
        padding:20px 0;
        display:none;
        @media (min-width:$bp-phone) {
            display:inline-block;
            width:20%;
        }

        &Wrapper {
            display:inline-block;
            max-width:60px;
            overflow:hidden;
            text-overflow:ellipsis;
            padding:10px 0;
            color:$color-dark;
            background:$color-lighter;
            transition: all linear 0.25s;

            @media (min-width:$bp-tablet) {
                max-width:80px;
                padding:10px 5px;
            }
        }

        &:after {
            content:' ';
            display:block;
            position:absolute;
            z-index:2;
            width:16px;
            height:16px;
            background:$color-dark;
            border:4px solid $color-red;
            border-radius:14px;
            left:100%;
            margin-left:-11px;
            top:53px;
            @media (min-width:$bp-phone) {
                width:20px;
                height:20px;
                margin-left:-12px;
            }
        }
    }

    &__colContent {
        float:none;
        padding:0;
        width:auto;
        margin:0;
        opacity:1;
        transition:opacity linear 0.25s;
        @media (min-width:$bp-phone) {
            float:left;
            padding:20px 0;
            width:66%;
            margin:0 7%;
        }
        @media (min-width:$bp-tablet) {
            width:70%;
            margin:0 5%;
        }

        &Wrapper {
            position:relative;
            text-align:center;
            padding:0;
            @media (min-width:$bp-phone) {
                border-left:3px solid $color-lighter;
            }

            &[ng-click] {
                cursor:pointer;

                &:hover .heading {
                    color:$color-red;
                }
            }

            &:before {
                content:' ';
                display:none;
                width:16px;
                height:16px;
                background:$color-lighter;
                border:3px solid $color-lighter;
                border-right:none;
                border-top:none;
                transform:rotate(45deg);
                position:absolute;
                top:35px;
                left:-10px;

                @media (min-width:$bp-phone) {
                    display:block;
                }
            }

            .ng-hide-animate {
                opacity:1;
                max-height:10000px;
                overflow:hidden;
                transition: all 0.5s;

                &.ng-hide {
                    display:block !important;
                    max-height:0px;
                    opacity:0;
                }
            }

            .paragraph {
                padding:0 20px 10px 20px;
                text-align:justify;
                font-size:14px;
                @media (min-width:$bp-phone) {
                    font-size:16px;
                }

                p {
                    margin:15px 0;
                }

                h3 {
                    margin:30px 0 15px 0;
                    color:$color-dark;
                    text-transform:uppercase;
                    font-family:'Roboto';
                    font-weight:600;
                    font-style:italic;
                    text-align:left;
                    font-size:16px;
                }

                a {
                    color:$color-red;
                    font-weight:bold;
                    &:hover {
                        text-decoration:none;
                    }
                }

                iframe, img, .wp-caption {
                    margin:15px 0;
                    max-width:100%;
                    max-height:300px;
                }
            }

            .button {
                margin-bottom:30px;
            }
        }

        .date {
            display:block;
            padding:10px 0;
            word-spacing:initial;
            background:$color-dark;
            color:$color-white;
            font-size:18px;
            border-top:1px solid $color-lighter;

            @media (min-width:$bp-phone) {
                display:none;
            }
        }

        .media,
        .embed,
        .diaporama {
            margin-top:25px;
        }

        .readmore {
            margin-top:15px;
        }

        article.is-read & {
            opacity:0.7;
        }
    }

    &__author {
        font-style:italic;
        margin:15px 0;
        color:$color-dark;
        font-size:15px;
    }

    &__share {
        width:46px;
        margin:auto;

        .share {
            margin:10px 0 0 0;
        }
    }

    &:after {
        content:' ';
        display:block;
        clear:both;
    }

}
