body {
    overflow-y:scroll;
    background:$color-dark;
    &:not(.is-ready) {
        background:$color-white;
    }
}

.container {
    transition:opacity 0.5s;
    position:relative;
    width:auto;
    min-width:$bp-min;
    margin:0 auto;
    background:$color-white;
    box-sizing:border-box;
    visibility:hidden;
    opacity:0;

    body.is-ready & {
        visibility:visible;
        opacity:1;
    }

}
