.header {
	position:fixed;
    display:flex;
    align-items:center;
	z-index:10;
	width:100%;
	height:$height-header;
	top:0;
	left:0;
    padding:0 15px;
    box-sizing:border-box;
    background:rgba($color-dark, 0.9);
    text-align:center;
    transition:height 0.25s;

    @media (min-width:$bp-tablet) {
        height:$height-header-big;
        padding:0 20px;
    }

    &__logo {
        display:inline-block;
        flex:1 0;
        height:100%;
        background:url("./img/logo.png") no-repeat center;
        background-size:auto 35%;
    }

    &__icon {
        display:inline-block;
        color:$color-red;
        font-size:22px;
        text-decoration:none;
        transition:color linear 0.1s;

        @media (min-width:$bp-tablet) {
            font-size:28px;
        }

        &:before {
            display:inline-block;
            font-family: FontAwesome;
            content:'\f1ce';
            color:inherit;
        }

        &--burger {
            body.is-navigating & {
                color:#FFF;
            }

            &:before {
                content:'\f0c9';
            }
        }

        &--back {
            &:before {
                animation:burger2back 0.25s linear;
                content:'\f060';
            }
        }

        &--glass {
            body.is-searching & {
                color:#FFF;
            }

            &:before {
                content:'\f002';
            }
        }

        &--ellipsis {
            cursor:pointer;
            margin-left:15px;
            margin-top:2px;

            @media (min-width:$bp-tablet) {
                margin-left:20px;
            }

            body.is-menuopening & {
                color:#FFF;
            }

            &:before {
                content:'\f142';
            }

        }
    }

    &:after {
        display:block;
        position:absolute;
        content:' ';
        height:3px;
        width:100%;
        left:0;
        bottom:-3px;
        background:linear-gradient(to bottom, rgba(#000,0.5), transparent);
    }
}
