.bubble {
    position:fixed;
    z-index:1;
    bottom:20px;
    right:20px;
    display:inline-block;
    box-shadow:0px 0px 10px #000;
    width:60px;
    height:60px;
    line-height:44px;
    font-size:60px;
    text-decoration:none;
    color:#FFF;
    background:$color-red;
    text-align:center;
    border-radius:100%;
    transition: all linear 0.1s;
    cursor:pointer;
    opacity:1;

    &:hover {
        box-shadow:0px 0px 1px #000;
    }

    &:before {
        display:inline-block;
        font-size:32px;
        font-family: FontAwesome;
        content:'\f001';
    }

    &.is-active {
        opacity:0;
    }
}
