.date {
    display:inline-block;
    font-size:16px;
    font-family:'Roboto';
    font-weight:600;
    font-style:italic;

    &--formated {
        word-spacing:30px;
        text-transform:capitalize;

        &:first-line {
            font-size:1.4em;
        }
    }

    @media (min-width:$bp-tablet) {
        font-size:20px;
    }
}
