.loader {
    position:fixed;
    top:50%;
    left:50%;

    body.is-ready & {
        display:none;
    }

    body.is-loading & {
        display:flex;
        align-items:center;

        &:before {
            display:inline-block;
            flex:1 0;
            font-size:32px;
            font-family: FontAwesome;
            content:'\f1ce';
            color:$color-red;
            animation:rotate360 1s linear infinite;
        }
    }

    @media (min-width:$bp-phone) {
        width:382px;
        height:114px;
        margin-left:-191px;
        margin-top:-57px;
    }
}
