.container {
    transition:opacity 0.5s;
    position:relative;
    width:auto;
    min-width:$bp-min;
    margin:0 auto;
    box-sizing:border-box;
    visibility:hidden;
    opacity:0;

    body.is-ready & {
        visibility:visible;
        opacity:1;
    }

    &__view {
        position:relative;
        overflow:hidden;
        transition:all linear 0.5s;
        opacity:1;
    }

    .container__grid {
        overflow:hidden;
        max-width:$bp-phone;
        box-sizing:border-box;
        position:relative;
        background: $color-white;
        margin-top:$height-header;
        margin-left:auto;
        margin-right:auto;

        @media (min-width:$bp-tablet) {
            margin-top:$height-header-big;
        }
    }

}
