.nav {
    display:block;
    position:fixed;
    z-index:5;
    top:0;
    left:-105%;
    width:260px;
    height:100%;
    background:rgba($color-red, 0.95);
    transition:left 0.25s;

    &:after {
        display:block;
        position:absolute;
        content:' ';
        height:100%;
        width:10px;
        top:0;
        right:-10px;
        background:linear-gradient(to right, rgba($color-black,0.5), transparent);
    }

    body.is-navigating & {
        left:0;
    }

    &__scroller {
        height:inherit;
        overflow:auto;
    }

    &__list {
        margin:$height-header 15px 0 15px;
        padding:0;
        list-style:none;

        @media (min-width:$bp-tablet) {
            margin-top:$height-header-big;
        }
    }

    &__item {
        display:block;
        border-bottom:1px solid $color-light;
        font-size:18px;
        font-weight:500;
        text-transform:capitalize;

        a {
            padding:15px;
            display:block;
            height:100%;
            text-decoration:none;
            color:#FFF;
            font-family:$font-title;
            font-weight:700;
            text-transform: uppercase;

            &:before {
                display:inline-block;
                font-family:'FontAwesome';
                margin-right:10px;
                font-weight:400;
            }
        }

        &--home a:before {
            content:'\f0f7';
        }

        &--dossier a:before {
            content:'\f02d';
        }

        &--top10 a:before {
            content:'\f1e2';
        }

        &--chroniques a:before {
            content:'\f0a3';
        }

        &--interviews a:before {
            content:'\f130';
        }

        &--sons a:before {
            content:'\f025';
        }

        &--news a:before {
            content:'\f1ea';
        }

        &--lab a:before {
            content:'\f0c3';
        }
    }

    &__sublist {
        height:0;
        overflow:hidden;
        list-style:none;
        padding:0;

        .nav__item a {
            padding-left:40px;
        }
    }

    &__social {
        display:block;
        text-align:center;
        margin:20px;
        font-size:28px;

        a {
            color:$color-white;
            margin:0 5px;
        }
    }
}
