<footer>
    <section class="footer__strate1">
        <a href="#/page/a-propos">A propos</a>
        <a href="#/page/team">La Team TBPZ</a>
        <a href="#/page/deviens-redacteur-the-backpackerz">Nous rejoindre</a>
        <a href="#/page/contact">Contact</a>
        <a href="#/page/bootlegz-la-newsletter-hip-hop-by-the-backpackerz">Newsletter</a>
        <a href="#/page/partenaires">Partenaires</a>
        <a href="http://thebackpackerz.com/feed/" target="_blank">Flux RSS</a>
    </section>
    <section class="footer__strate2">

    </section>
</footer>
