<article class="article">
    <div class="article__colDate">
        <div class="article__colDateWrapper">
            <span class="date date--formated">{{dateToTimestamp(article.date) | date:'mediumDate'}}</span>
        </div>
        <div class="article__share" ng-controller="ShareCtrl">
            <a href class="share share--facebook" onclick="ga('send', 'event', 'share', 'click', 'header buttons')" ng-click="share('facebook')"></a>
            <a href class="share share--twitter" onclick="ga('send', 'event', 'share', 'click', 'header buttons')" ng-click="share('twitter')"></a>
            <a href class="share share--google" onclick="ga('send', 'event', 'share', 'click', 'header buttons')" ng-click="share('google')"></a>
        </div>
    </div>
    <div class="article__colContent">
        <div class="article__colContentWrapper">
            <span class="date">{{dateToTimestamp(article.date) | date:'mediumDate'}}</span>
            <div class="banner">
                <div class="banner__image"
                     ng-style="(article.featured_image.source) ? {'background-image':'url('+ article.featured_image.attachment_meta.sizes.medium.url +')'} : {}"></div>
                <div class="banner__text">
                    <h2 class="heading heading--2"
                        ng-if="article.title"
                        ng-bind-html="article.title"></h2>
                </div>
            </div>

            <div class="paragraph">
                <div class="article__share" ng-controller="ShareCtrl">
                    <a href class="share share--tiny share--facebook" onclick="ga('send', 'event', 'share', 'click', 'header buttons')" ng-click="share('facebook')"></a>
                    <a href class="share share--tiny share--twitter" onclick="ga('send', 'event', 'share', 'click', 'header buttons')" ng-click="share('twitter')"></a>
                    <a href class="share share--tiny share--google" onclick="ga('send', 'event', 'share', 'click', 'header buttons')" ng-click="share('google')"></a>
                </div>
                <div class="article__author"
                     ng-if="article.author.name">Par <strong>{{article.author.name}}</strong></div>
                <div
                    ng-bind-html="article.content | parseLinks"></div>
            </div>
        </div>
    </div>
</article>
