.tpl-single {

    .container__grid {
        padding-bottom:80px;
    }

    .capsule {
        margin-bottom:10px;

        &__text {
            padding:10px 10px 0 10px;
            text-align:center;
        }

        &__image {
            margin-top:10px;
        }

        .heading {
            margin:10px 0 0 0;
        }

        .tag {
            position:static;
            background:$color-white;
            border-color:$color-black;
            color:$color-black;
        }

        .date {
            bottom:initial;
            top:15px;
            line-height:15px;
            color:$color-grey;
            font-size:13px;
            text-shadow:none;
        }

        .author {
            position:absolute;
            bottom:initial;
            top:15px;
            left:10px;
            line-height:15px;
            margin:0;
        }
    }

    .paragraph {
        padding:0 20px 10px 20px;
        @media (min-width:$bp-phone) {
            padding:0;
        }

        p {
            margin:15px 0;

            &:first-child {
                margin-top:0;
            }
        }

        h3 {
            margin:30px 0 15px 0;
            color:$color-dark;
            font-family:$font-title;
            font-weight:700;
            text-align:left;
            font-size:16px;
        }

        a {
            color:$color-red;
            font-weight:bold;
            &:hover {
                text-decoration:none;
            }
        }

        iframe {
            margin:15px 0;
            max-width:100%;
        }

        img, .wp-caption {
            margin:15px 0;
            max-width:100%;
            height:initial;
        }
    }

}
