.tpl-listing {

    .container__grid {
        background:$color-light;

        @media (min-width:$bp-phablet) {
            background:$color-white;
        }
    }

    .container__row {
        margin-bottom:5px;

        @media (min-width:$bp-phablet) {
            margin-bottom:0;
            margin-top:20px;
        }

        &[ng-click] {
            cursor:pointer;
        }

        &.is-read {
            opacity:0.7;
        }
    }

    .heading--1 {
        color:$color-red;
        text-align:center;
        background:$color-white;
        padding:10px 0;

        &:before {
            display:inline-block;
            font-family:'FontAwesome';
            margin-right:10px;
        }

        &.heading--home:before {
            content:'\f0f7';
        }

        &.heading--dossier:before {
            content:'\f02d';
        }

        &.heading--top10:before {
            content:'\f1e2';
        }

        &.heading--chroniques:before {
            content:'\f0a3';
        }

        &.heading--interviews:before {
            content:'\f130';
        }

        &.heading--sons:before {
            content:'\f025';
        }

        &.heading--news:before {
            content:'\f1ea';
        }

        &.heading--lab:before {
            content:'\f0c3';
        }
    }


    &:after {
        content:' ';
        display:block;
        clear:both;
    }

}
