.tpl-listing {

    .container__grid {
        background:$color-light;

        @media (min-width:$bp-phablet) {
            background:$color-white;
        }
    }

    .container__row {
        margin-bottom:5px;

        @media (min-width:$bp-phablet) {
            margin-bottom:0;
            margin-top:20px;
        }

        &[ng-click] {
            cursor:pointer;
        }

        &.is-read {
            opacity:0.7;
        }
    }

    .heading--1 {
        color:$color-red;
        font-family:$font-title;
        font-weight:700;
        font-size:18px;
        letter-spacing: -1px;
        text-align:center;
        background:$color-white;
        padding:10px 0;

        &:before {
            content:'\f025';
            display:inline-block;
            font-family:'FontAwesome';
            margin-right:5px;
        }
    }


    &:after {
        content:' ';
        display:block;
        clear:both;
    }

}
